body {
  font-family: 'Bebas Neue', cursive;
  background-color: black;
}

#logo {
  margin: 5px;
}


h2 {
  color: #3046c5;
}

#car {
  background-image: url(https://images.pexels.com/photos/4644812/pexels-photo-4644812.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
}

header h2 {
  color: #cec8ff;
}

.site-footer {
  background-image: linear-gradient(blue, black);
  color: white;
}

.jumbotron {
  margin: 10px;
  padding-top: 30px;
  background-image: linear-gradient(96deg, rgba(0,0,0,1) 0%, blue 50%, rgba(0,0,0,1) 100%);
  color: white;
}

#search {
  color: white;
  background-color: black;
}

.row-content {
  padding: 20px;
  min-height: 200px;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}
.donatesec {
    text-decoration: none;
  color: black;
}
#social {
  padding: 2px;
}

nav {
  background-color: black;
}

.carousel {
  border: solid #5637dd;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

input {
  margin: 5px;
  border: 3px solid white;
  background-color: white;

}

input:hover {
  box-shadow: 0px 0px 25px rgba(81, 203, 238, 1);
}

#copyright {
  font-size: 10px;
}

#gif {
  border-radius: 50px;
}
#newstitle {
  color: red;
}
#newsh2 {
color: white;
}
#newsFirst {
  border: 5px solid red;
  /* padding-left: 2vw;
  height: 8vh; */
}

#newsSecond {
  border: 5px solid red;
  /* padding-left: 2vw;
  height: 8vh; */
}

#newsThird {
  border: 5px solid red;
  /* padding-left: 2vw;
  height: 8vh; */
}



